@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}
.container{
    margin-bottom: 10px;
}
.h3 {
    color: red;
}

.btn {
    padding: 10px;
    color: white;
    background-color: rgb(251, 48, 48);
    border: none;
    border-radius: 2%;
}


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }



  .footer {
      background-color: rgb(243, 241, 241);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 20px;
      text-align: center;
  }

  .footer h3 {
      color: rgb(251, 48, 48);
      font-size: 24px;
      margin-bottom: 10px;
  }

  .footer h1 {
      color: rgb(34, 34, 34);
      font-size: 36px;
      margin-bottom: 30px;
  }

  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 100%;
  }

  .card {
      background: white;
      border: 1px solid rgb(252, 250, 250);
      width: 23%;
      max-width: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .card h3 {
      color: rgb(251, 48, 48);
      font-size: 30px;
      margin-bottom: 10px;
  }

  .card h1 {
      color: rgb(34, 34, 34);
      font-size: 36px;
      margin-bottom: 10px;
  }

  .card p {
      color: rgb(102, 102, 102);
      font-size: 18px;
  }

  @media (max-width: 992px) {
      .card {
          width: 45%;
      }
  }

  @media (max-width: 768px) {
      .card {
          width: 100%;
          max-width: 90%;
      }

      .footer h1 {
          font-size: 28px;
      }

      .footer h3 {
          font-size: 20px;
      }
  }