@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta', sans-serif;
}

h3 {
    color: red;
}

.containerInnerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerPage1 {
    display: flex;
}

img {
    width: 58vw;
    height: 88vh;
    border-radius: 2%;
}

.inner {
    margin-left: 2vw;
}

.inner1,
.inner2,
.inner3 {
    border: 1px solid rgb(238, 237, 237);
    padding: 5px;
    margin-bottom: 1px;
        background-color: rgb(252, 247, 247);
    border-radius: 2%;
}
.ancher{
    color: black;
    text-decoration: none;
}

.inner1:hover,
.inner2:hover,
.inner3:hover {
    background-color: rgb(251, 48, 48);
    color: white;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .innerPage1 {
        flex-direction: column;
        align-items: center;
    }

    .inner {
        margin-left: 0;
        width: 100%;
    }

    img {
        width: 95vw;
        margin-bottom: 20px;
    }
}